{% extends 'kf_app/base.html' %}
{% load static %}

{% block content %}
    <section class="section">
        <h2 class="section-title">Новинки среди фильмов</h2>
        <div class="content-list">
            {% for movie in movies_sample %}
                <div class="content-item">
                    <a href="#">
                        {% if movie.poster %}
                            <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="content-poster">
                        {% else %}
                            <img src="{% static 'kf_app/images/default_poster.jpg' %}" alt="{{ movie.title }}" class="content-poster">
                        {% endif %}
                        <h3 class="content-title">{{ movie.title }}</h3>
                        <p class="content-info">{{ movie.release_date|date:"Y" }}</p>
                    </a>
                </div>
            {% empty %}
                <p>Фильмов пока нет.</p>
            {% endfor %}
        </div>
        <div class="more-link">
            <a href="{% url 'kf_app:movies_list' %}" class="btn">Все фильмы &raquo;</a>
        </div>
    </section>

    <section class="section">
        <h2 class="section-title">Новинки среди сериалов</h2>
        <div class="content-list">
            {% for serie in series_sample %}
                <div class="content-item">
                    <a href="#">
                        {% if serie.poster %}
                            <img src="{{ serie.poster.url }}" alt="{{ serie.title }}" class="content-poster">
                        {% else %}
                            <img src="{% static 'kf_app/images/default_poster.jpg' %}" alt="{{ serie.title }}" class="content-poster">
                        {% endif %}
                        <h3 class="content-title">{{ serie.title }}</h3>
                        <p class="content-info">{{ serie.release_date|date:"Y" }}</p>
                    </a>
                </div>
            {% empty %}
                <p>Сериалов пока нет.</p>
            {% endfor %}
        </div>
        <div class="more-link">
            <a href="{% url 'kf_app:series_list' %}" class="btn">Все сериалы &raquo;</a>
        </div>
    </section>
{% endblock %}