{% extends 'kf_app/base.html' %}
{% load static %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <div class="profile-avatar">
            {{ username|first|upper }}
        </div>
        <h1>{{ username }}</h1>
        <p>Участник CINEMAX</p>
    </div>

    <div class="profile-sections">
        <a href="#" class="profile-section-link">
            <div class="profile-section">
                <h2>История просмотров</h2>
            </div>
        </a>

        <a href="#" class="profile-section-link">
            <div class="profile-section">
                <h2>Избранное</h2>
            </div>
        </a>

        <a href="#" class="profile-section-link">
            <div class="profile-section">
                <h2>Отложенное</h2>
            </div>
        </a>
    </div>

    <div class="profile-actions">
        <a href="{% url 'kf_app:logout' %}" class="btn-logout">Выйти из аккаунта</a>
    </div>
</div>
{% endblock %}